<% include ./partials/header %>

<form style="margin-left: 30px" action="/register" method="POST">
    <h1>Sign Up</h1>
    <p>I didn't spend a lot of time in the security of this web page. So don't reuse any important password.</p>
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Sign Up</button>
</form>

<% include ./partials/footer %>